.attraction__advantages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.attraction__title {
  font-size: 18px;
}

.attraction__number,
.attraction__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
