.attractions__attraction--deployed:first-child .attraction__wrapper {
  padding: 51px 22px 40px 16px;

  @media (min-width: @tablet-width) {
    max-width: 256px;
    padding: 40px 31px 31px;
  }

  @media (min-width: @desktop-width) {
    max-width: 262px;
    padding: 48px 69px 35px 69px;
  }
}

.attraction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(129, 179, 210, 1);
  padding-top: 39px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 256px;
    padding: 43px 31px 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 95px 35px 91px;
  }
}

.attractions__attraction--real-city {
  .attraction__wrapper {
    padding: 51px 20px 40px 18px;
    color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
      max-width: 192px;
      padding: 40px 32px;
    }

    @media (min-width: @desktop-width) {
      max-width: 295px;
      padding: 47px 55px 58px;
    }
  }

  .attraction__number {
    color: rgba(255, 255, 255, 1);
  }

  .attraction__description {
    color: rgba(255, 255, 255, 1);
  }
}

.attractions__attraction--devil-bridge {
  .attraction__wrapper {
    padding: 40px 16px 35px 15px;
    color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
      max-width: 184px;
      padding: 43px 36px 31px;
    }

    @media (min-width: @desktop-width) {
      max-width: 243px;
      padding: 50px 93px 55px;
    }
  }

  .attraction__title {
    @media (min-width: @desktop-width) {
      max-width: 243px;
      margin: 0;
      margin-bottom: 13px;
    }
  }

  .attraction__number {
    color: rgba(255, 255, 255, 1);
  }

  .attraction__description {
    color: rgba(255, 255, 255, 1);

    @media (min-width: @tablet-width) {
      max-width: 194px;
    }

    @media (min-width: @desktop-width) {
      max-width: 285px;
    }
  }
}

.attraction__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    max-width: 150px;
    margin: 0 auto 13px;
  }

  @media (min-width: @desktop-width) {
    max-width: 130px;
  }
}

.attraction__number,
.attraction__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin: 0;
  max-width: 282px;


  @media (min-width: @desktop-width) {
    max-width: 290px;
  }
}

.attraction__break {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }

  &--title {
    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.attraction__number {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.attraction__photo {
  width: 320px;
  height: 260px;
  background-repeat: no-repeat;

  &--devil-bridge {
    @media (min-width: @tablet-width) {
      order: -1;
    }
  }

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.attraction__advantages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 31px 18px 52px 18px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  gap: 30px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
    gap: 0;
  }
}
