.attractions__attraction {
  background-color: rgba(238, 238, 238, 1);
  &--deployed {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(129, 179, 210, 1);
  }
}

.attraction__title {
  font-size: 18px;
}

.attraction__number,
.attraction__description {
  font-size: 14px;
  line-height: 21px;
}
