.copyright {
  display: flex;
  justify-content: center;
}

.copyright__developed {
  min-width: 121px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-self: center;
  margin: 0;
}

.copyright__logo {
  align-self: center;
  margin: 0;
}
