.copyright__link {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover {
    .copyright__developed {
      color: rgba(129, 179, 210, 1);
    }

    .copyright__logo {
      fill: rgba(129, 179, 210, 1);
    }
  }

  &:active {
    .copyright__developed {
      color: rgba(179, 179, 179, 1);
    }

    .copyright__logo {
      fill: rgba(179, 179, 179, 1);
    }
  }
}

.copyright__developed {
  min-width: 121px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-self: center;
  margin: 0;
}

.copyright__logo {
  align-self: center;
  margin: 0;
  fill: rgba(0, 0, 0, 1);
}
