.fieldset__label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 16px;
}

.fieldset__title {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    max-width: 240px;
  }
}

.fieldset__placeholder {
  width: 248px;
  height: 26px;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: 0;

  @media (min-width: @desktop-width) {
  width: 398px;
  }
}

.fieldset__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 576px;
    gap: 16px;
    padding: 0 36px;
  }
  @media (min-width: @desktop-width) {
    max-width: 100%;
  }

  &--landmark {
    @media (min-width: @tablet-width) {
      max-width: 480px;
      padding: 0 84px;
      column-gap: 32px;
    }

    @media (min-width: @desktop-width) {
      max-width: 100%;
    }
  }
}

.fieldset__list--landmark .fieldset__item {
  @media (min-width: @tablet-width) {
    min-width: 224px;
    min-height: 26px;
    padding: 10px 0;
  }
}

.fieldset__item {
  margin: 0;
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 10px 10px 10px 60px;
  }
}
