@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 320px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    box-shadow: inset 1280px 0 0 0 rgba(231, 229, 229, 1);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
