.introduction__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  max-width: 262px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 29px;
  }
}

.catalog__introduction .introduction__title {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.introduction__break--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.introduction__description {
  color: rgba(51, 51, 51, 1);
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.main__introduction--form .introduction__title {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}
