.main {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.main__slogan {
  height: 389px;
  position: relative;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/intro/welcome-background.jpg");
  background-size: 320px 389px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/welcome-background@2x.jpg");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro/welcome-decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../img/intro/welcome-background--tablet.jpg");
    background-size: 768px 518px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/welcome-background@2x--tablet.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/intro/welcome-background--desktop.jpg");
    background-size: 1200px 518px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/welcome-background@2x--desktop.jpg");
    }
  }
}

.main__attractions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  list-style-type: none;

  &::before {
    content: "";
    display: block;
    margin-bottom: -26px;
    width: 100%;
    height: 57px;
    background-image: url("../img/attractions/attractions-wrapper-decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main__search-hotel {
  display: flex;
  flex-direction: column;
  padding: 37px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 59px 155px 58px 155px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.main__location {
  display: flex;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 17px;
    height: 17px;
    background-color: rgba(129, 179, 211, 1);
    border: 5px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
  }
}

.main__introduce {
  height: 214px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/intro/sedona-background.jpg");
  background-size: 320px 214px;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: -56px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 290px;
    margin: 0;
    background-image: url("../img/intro/sedona-background--tablet.jpg");
    background-size: 768px 290px;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background-image: url("../img/intro/sedona-background--desktop.jpg");
    background-size: 1200px 518px;
    background-repeat: no-repeat;
  }
}

.main__introduce::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro/welcome-decoration.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main__introduction {
  display: flex;
  flex-direction: column;
  padding: 34px 21px 5px 18px;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-self: center;
    padding: 48px 124px 56px 124px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 358px 45px 357px;
  }
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
