.main {
  flex-grow: 1;
}

.main__slogan {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../img/intro/slogan-background.jpg);
  background-size: 320px 389px;
  background-repeat: no-repeat;
}

.main__introduction {
  display: flex;
  flex-direction: column;
}

.main__attractions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}

.main__search-hotel {
  display: flex;
  flex-direction: column;
}
