.main-header {
  position: absolute;
  width: 320px;
  background-color: rgb(255, 255, 255, 1);

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
