.photos__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 50px;
}

.photos__photo {
  margin-bottom: 15px;
  align-self: center;
}

.photos__title {
  margin: 0;
}

.photos__author {
  margin: 0;
  font-weight: 400;
  text-transform: none;
}

.photos__like {
  border: 0;
  color: rgb(0, 0, 0, 1);
  background-color: initial;
  font-weight: 700;
  margin-left: 37px;
}
