.photos__item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  padding: 24px 20px 25px 20px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);

  @media (min-width: @tablet-width) {
    padding: 0;
    border: 0;
  }

  &--first {
    .photos__photo {
      @media (min-width: @tablet-width) {
        width: 648px;
        height: 400px;
      }

      @media (min-width: @desktop-width) {
        width: 1200px;
      }
    }
  }
}

.photos__photo {
  margin-bottom: 15px;
  align-self: center;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.photos__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px 21px;
    background-color: rgba(242, 242, 242, 1);
  }

  @media (min-width: @desktop-width) {
    margin-top: -80px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photos__item:nth-of-type(3) {
  .photos__info {
    @media (min-width: @tablet-width) {
      background-color: rgba(234, 234, 234, 1);
    }

    @media (min-width: @desktop-width) {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.photos__description {
  text-align: start;
  padding-bottom: 16px;


  @media (min-width: @tablet-width) {
    min-height: 43px;
    padding: 0;
  }
}


.photos__title {
  margin: 0;
}

.photos__author {
  margin: 0;
  font-weight: 400;
  text-transform: none;
  color: rgba(51, 51, 51, 1);

  @media (min-width: @desktop-width) {
    color: rgba(255, 255, 255, 1);
  }
}

.photos__like {
  position: relative;
  border: 0;
  color: rgb(0, 0, 0, 1);
  background-color: initial;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding-left: 37px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    color: rgba(255, 255, 255, 1);
  }
}

.photos__like::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 23px;
  height: 21px;
  background-image: url("../img/like.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    background-image: url("../img/like--desktop.svg");
  }
}
