.search-hotel__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.search-hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.search-hotel__button {
  padding: 16px 49px;

  @media (min-width: @tablet-width) {
    padding: 15px 121px 17px 121px;
    min-width: 216px;
  }

  @media (min-width: @desktop-width) {
    max-width: 216px;
    align-self: center;
  }
}

.search-hotel__line-break {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
