.slogan__logo {
  width: 282px;
  height: 214px;
  margin: 90px 19px 85px 19px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
    margin: 77px 154px 91px 153px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    height: 350px;
    margin: 78px 370px 90px 370px;
  }
}
